main{
    padding: 10px;
}
main img{
    width: 80%;
    border-radius: 15px;
    margin-top: 10px;
}
main h1{
    font-size: 80px;
}
main p{
    color: #fff;
    font-size: 30px;
}
main .count{
    color: #fff;
}
main #cont {
    font-size: 30px;
    color: #fff;
}

main #enviar{
    font-size: 40px;
    width: 250px;
    height: 100px;
    border: 1px solid #000;
    background-color: rgb(112, 112, 255);
    border-radius: 20px;
}

@media(max-width: 1222px){
    main h1{
        font-size: 55px;
    }
    main p{
        font-size: 20px;
    }
    main #enviar{
        font-size: 30px;
        width: 200px;
        height: 75px;
    }
}